{
  "presets": [
    ["stage-2"],
    ["env",{
        "targets": {
          "uglify": true
        }
      }],
    [
      "es2015",
      {
        "modules": false
      }
    ]
  ],
  "plugins": ["transform-runtime"],
  "comments": false,
  "env": {
    "test": {
      "presets": ["es2015", "stage-2"],
      "plugins": ["istanbul", "transform-runtime"]
    }
  }
}
