{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["ie >=9"]
      },
      "useBuiltIns": "usage"
    }],
    "stage-2",
    "es2015"
  ],
  "plugins": ["transform-runtime",
    "transform-vue-jsx"],
  "comments": false,
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": ["istanbul", "transform-runtime", ["component", 
        [{
          "libraryName": "element-ui",
          "styleLibraryName": "~src/assets/css/theme"
        }]
      ]]
    }
  }
}
