/node_modules
package-lock.json
/public/storage
/public/hot
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.DS_Store
node_modules
dist
config/dev.env.js
config/index.js
config/prod.env.js
package-lock.json
static/js/vendor/*
deploy.sh
client.sh
*.swp
*.swo
*.swn
/public/apidoc
/apidoc.json
.idea
*.jsbeautifyrc
composer.lock
/.vscode
npm-debug.log
3.0
.project
index.html