/**
 * Admin CSS
 */

.admin-table {
  min-height: 400px;
}
.admin-table, .admin-table p {
  font-size: 1.2rem;
}
.pagination {
  margin: 20px 0 20px 0;
}

.el-table .cell, .el-table th>div {
  padding-left: 10px;
  padding-right: 10px;
}

.bg-gray {
  background: #ccc;
}


/**
 * Admin Menu Sub --- Start
 */
.admin-menu .el-submenu__title {
  text-align: left
}
.admin-menu .el-menu {
  background: #f7f7f7
}
.admin-menu-sub {
  height: 24px;
  line-height: 10px;
  border-bottom: 1px solid #e6e6e6;
  margin: 0 0 10px 0;
}

.admin-menu-sub-list {
  line-height: 20px;
}
.admin-menu-sub-list .item {
  font-size: 1.2rem;
  display: block;
  margin: 0 16px 0 0;
  float: left;
}
.admin-menu-sub-list .item.is-active {
  color: #ff5a5f;
  border-bottom: 3px solid #ff5a5f;
  /* padding-bottom: 10px; */
}
/**
 * Admin Menu Sub --- End
 */

/**
 * Admin Search Form --- Start
 */
  .admin-search-form {
    float: right;
    margin: 0 0 10px 0;
  }
  .admin-search-form .el-form-item {
    margin: 0;
    padding: 0;
  }
