.add-task-input .el-textarea__inner {
    width: 100%;
    height: 36px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 18px;
  }
  .add-child-input .el-textarea__inner {
    height: 36px;
    font-size: 16px;
    margin-bottom: 0;
  }
  .add-task-input.active .el-textarea__inner {
    color: #999;
    text-decoration: line-through
  }
  .add-task-input .el-textarea__inner:hover,
  .add-task-input .el-textarea__inner:focus {
    border-color: #e6e6e6
  }
  .add-task-input .el-textarea__inner:focus,
  .el-textarea .el-textarea__inner:focus,
  .el-input .el-input__inner:focus {
    box-shadow: inset 0 1px #e6e6e6
  }
  .add-task-input .el-input-group__prepend+.el-input__inner {
    box-shadow: none
  }
  .textarea-summary .el-textarea__inner {
    border-color: transparent
  }
  .textarea-summary .el-textarea__inner:hover,
  .textarea-summary .el-textarea__inner:focus {
    border-color: #e6e6e6
  }

  .el-submenu__title {
    height: 50px;
    line-height: 50px;
  }
  .el-menu-info.el-menu--horizontal > .el-submenu .el-submenu__title {
    padding-right: 0
  }
  .el-button:visited {
    background-color: #ff5a5f;
    color: #fff;
  }
  /* control header */
  .el-menu-info .el-submenu > .el-menu {
    left: auto;
    right: 0;
  }
  .el-table td, .el-table th.is-leaf,
  .el-table--border td, .el-table--border th {
    border-color: #e6e6e6
  }
  .el-table th,
  .el-table__footer-wrapper thead div,
  .el-table__header-wrapper thead div,
  .el-table--enable-row-hover .el-table__body tr:hover>td {
    background: #f7f7f7
  }
  .el-table__footer-wrapper thead div,
  .el-table__header-wrapper thead div {
    color: #222
  }
  .el-table {
    color: #666
  }
  .el-breadcrumb__item:last-child .el-breadcrumb__inner, .el-breadcrumb__item:last-child .el-breadcrumb__inner a, .el-breadcrumb__item:last-child .el-breadcrumb__inner a:hover, .el-breadcrumb__item:last-child .el-breadcrumb__inner:hover {
    color: #666
  }
  .el-breadcrumb__inner, .el-breadcrumb__inner a {
    color: #666
  }
  .el-breadcrumb__inner a:hover, .el-breadcrumb__inner:hover {
    color: #222
  }

  .ordershow-span-color .el-breadcrumb__inner:hover {
    color: #ff5a5f;
  }
  .el-breadcrumb {
    font-size: 13px;
  }

  .ordershow-span-color .el-breadcrumb__item {
    font-size: 14px;
  }

  .item-total .el-dialog__footer {
    text-align: center
  }
  .el-dialog__footer .dialog-footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .el-dialog__footer .dialog-footer .el-button:first-child {
    margin-right: 15px;
  }
  .aside .el-progress .el-progress-bar__outer, .aside .el-progress .el-progress-bar__outer .el-progress-bar__inner {
    border-radius: 0px
  }
  .designStage-name .el-checkbox__inner{
    width:24px;
    height:24px;
  }
  .designStage-name .el-checkbox__input.is-checked .el-checkbox__inner{
    border-color:#e6e6e6;
    background-color:#fff;
  }
  .tack-list .el-checkbox__input.is-checked .el-checkbox__inner{
    border-color:#e6e6e6;
    background-color:#fff;
  }
  .designStage-name .el-checkbox__inner::after{
    height:11px;
    width:5px;
    left:7px;
    top:3px;
    border-bottom:2px solid #e6e6e6;
    border-right:2px solid #e6e6e6
  }
  .tack-list .el-checkbox__inner::after{
    height:10px;
    border-bottom:2px solid #e6e6e6;
    border-right:2px solid #e6e6e6
  }
  .task-success .el-checkbox__label{
    color: #999;
    text-decoration: line-through
  }
  .formup-time .el-date-editor.el-input {
    width:100%
  }
  .el-progress-bar__outer {
    background: #f7f7f7
  }
  .el-progress-bar__inner {
    background-color: #65a6ff
  }
  .el-progress-circle__track {
    stroke: #f7f7f7
  }
  .el-progress--circle .el-progress-circle__path {
    stroke: #65a6ff
  }
  .is-unclaimed .el-progress-circle__path {
    stroke: #e6e6e6
  }
  .is-success .el-progress-circle__path {
    stroke: #00ac84
  }
  .is-exception .el-progress-circle__path {
    stroke: #ff5a5f
  }
  .el-progress.is-exception .el-progress-bar__inner {
    background:#FF686A
  }
  .el-autocomplete-suggestion__wrap,
  .el-pager li,
  .el-pagination .btn-next,
  .el-pagination .btn-prev {
    border-color: #e6e6e6
  }
  .el-pagination button:hover {
    color: #ff5a5f
  }
  .view-button {
    background: #fff;
    border: 1px solid #ff5a5f;
    border-radius: 4px;
    color: #ff5a5f;
  }
  .el-radio-button__orig-radio:checked+.el-radio-button__inner {
    background-color: #ff5a5f;
    border-color: #ff5a5f;
    box-shadow: -1px 0 0 0 #ff5a5f;
  }
  /* 合同阶段选择按钮 */
  /* .el-form-item__content .el-radio-group{
    width: 44rem;
  } */
  .el-radio-button__phase .el-radio-button__inner {
    width: 100%;
  }
  .el-form-item__content .el-radio-button__inner{
    /* width: 20rem; */
    border:1px solid rgba(210,210,210,1);
    border-radius:4px;
  }
  .el-form-item__content .el-radio-button__orig-radio:checked+.el-radio-button__inner{
    background-color: #ff5a5f;
    color: #fff;
    box-shadow: 0 0 0 0 #ff5a5f;
  }

  .el-radio-button__inner:hover {
    color: #222;
    border-color: #e6e6e6
  }
  .el-radio-button__inner {
    color: #666;
    border-color: #e6e6e6;
  }
  .el-radio__inner {
    width: 16px;
    height: 16px;
    border-color: #e6e6e6;
  }
  .el-radio__inner::after {
    width: 10px;
    height: 10px;
    background-color: #ff5a5f;
  }
  .el-radio__inner:hover {
    border-color: #ff5a5f
  }
  .el-radio__input.is-checked .el-radio__inner {
    border-color: #ff5a5f;
    background-color: #fff;
  }
  .el-switch .el-switch__core {
    background: #e6e6e6;
    border-color: #e6e6e6
  }
  .el-switch.is-checked .el-switch__core {
    border-color: #fafafa;
    background-color: #ff5a5f;
  }
  .el-select-dropdown__item {
    color: #999;
    transition: 268ms all ease
  }
  .el-select-dropdown__item.selected.hover {
    background-color: #fafafa;
    color: #666
  }
  .el-select-dropdown__item.selected {
    background-color: #f7f7f7;
    color: #666
  }
  .el-tag--primary {
    background-color: #f7f7f7;
    border-color: #e6e6e6;
    color: #222;
  }
  .el-tag--primary .el-tag__close:hover {
    color: #ff5a5f;
    background: none
  }
  .el-tag--info {
    background-color: #fafafa;
    color: #999;
  }
  .el-select-dropdown.is-multiple .el-select-dropdown__item.selected {
    color: #222
  }
  .el-select-dropdown.is-multiple .el-select-dropdown__item.selected.hover, .el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
    background-color: #f7f7f7
  }
  .el-select .el-input.is-focus .el-input__inner {
    border-color: #e6e6e6;
  }
  .el-select:hover .el-input__inner {
    border-color: #e6e6e6;
  }
  .el-select .el-input__inner:focus {
    border-color: #e6e6e6;
  }
  .el-dialog__header {
    border-radius: 4px 4px 0 0;
    padding: 25px 20px;
    background: #f7f7f7
  }
  .el-dialog__headerbtn .el-dialog__close {
    color: #999
  }
  .el-dialog__headerbtn .el-dialog__close:hover {
    color: #ff5a5f
  }
  .el-month-table td.current:not(.disabled) .cell {
    background-color: #ff5a5f!important;
    color: #fff;
  }
  .el-picker-panel__icon-btn {
    color: #999
  }
  .el-date-picker__header-label.active, .el-date-picker__header-label:hover, .el-picker-panel__icon-btn:hover {
    color: #666
  }
  .el-month-table td .cell {
    color: #666;
  }
  .el-month-table td .cell:hover {
    background-color: #f7f7f7
  }

  .el-table th .cell {
    font-size: 14px;
  }
  .el-table .cell, .el-table th>div {
      font-size: 14px;
  }
  .el-pagination__sizes .el-input .el-input__inner:hover {
    border-color: #ff5a5f
  }
  .el-select-dropdown__list {
    padding: 0
  }
  .el-collapse-item__header {
    border-color: #e6e6e6
  }
  .el-collapse-item__wrap {
    background-color: #fafafa;
    border-color: #e6e6e6
  }
  .el-checkbox .el-checkbox__input.is-checked .el-checkbox__inner {
    background-color: #ff5a5f;
    border-color: #ff5a5f;
  }
  .el-input--small .el-input__inner {
    height: 30px;
    line-height: 2
  }
  .el-collapse-item__content {
    color: #666
  }
  .main .el-input-group__append,
  .el-date-table td.available:hover,
  .el-time-spinner__item:hover:not(.disabled):not(.active) {
    background: #f7f7f7;
  }
  .el-date-table td {
    line-height: 32px;
  }
  .el-picker-panel,
  .el-picker-panel__footer,
  .el-picker-panel__btn {
    border-color: #e6e6e6
  }
  .el-picker-panel {
    color: #666;
  }
  .el-picker-panel__btn,
  .el-time-panel__btn,
  .el-date-table th,
  .el-input__icon,
  .el-select .el-input .el-input__icon,
  .el-menu--horizontal .el-submenu .el-submenu__icon-arrow {
    color: #999
  }
  .project-item-box .el-select .el-input .el-input__icon {
    color: #fff
  }
  .el-date-picker__header-label.active, .el-date-picker__header-label:hover, .el-picker-panel__icon-btn:hover,
  .el-time-panel__btn.confirm {
    font-weight: 400;
    color: #ff5a5f
  }
  .el-time-spinner__list::after, .el-time-spinner__list::before {
    height: 73px;
  }
  .el-time-panel__content::after, .el-time-panel__content::before {
    background-color: #FFBEBE
  }
  .el-year-table td.current:not(.disabled) .cell {
    background-color: #ff5a5f!important
  }
  .el-icon-time:before {
    content: "\E611"
  }
  /* .add-child-ul .el-date-editor.el-input .el-icon-time {
    display: none;
  } */
  /* .add-child-ul .el-date-editor.el-input .el-input__icon+.el-input__inner {
    padding: 0;
    text-align: center;
  } */
  .el-input-group__append, .el-input-group__prepend {
    background: #f7f7f7;
    color: #999
  }
  .el-dialog__title {
    font-weight: 400;
    color: #222;
    font-size: 16px;
    line-height: 1;
  }
  .el-dialog {
    border-radius: 4px;
    /* margin-bottom: 0px; */
  }
  .el-dialog--380px {
    width: 380px
  }
  .seen-deta .el-dialog--tiny {
    width: 480px
  }
  .el-dialog--tiny .el-dialog__headerbtn {
    font-size: 14px;
  }
  .el-dialog__headerbtn:focus .el-dialog__close, .el-dialog__headerbtn:hover .el-dialog__close {
    color: #ff5a5f
  }
  .el-dialog--tiny .el-dialog__title {
    font-size: 16px;
  }
  .el-dialog--small {
      width: 580px
  }

  .el-dialog--large {
    width: 1240px;
  }
  .patent .el-carousel__container {
    width: 200px;
    height: 270px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .el-alert {
    border-radius: 0;
  }
  .el-alert--warning {
    background-color: #fff5e6;
    color: #222;
  }
  .el-alert__title {
    font-size: 12px
  }
  .el-alert__icon {
    color: #ff5a5f;
    font-size: 12px;
  }
  .el-alert__closebtn {
    color: #222;
  }
  .el-alert__closebtn:hover {
    color: #ff5a5f
  }
  .input-brand .el-input-group__append:hover {
    background: #f7f7f7
  }
  .owner .el-checkbox__inner {
    position: absolute;
    top:-10px;
    left:-31px;
  }
  .top-progress .el-progress-bar__outer, .top-progress .el-progress-bar__inner{
    border-radius: 0px;
  }
  .success .el-input__inner {
    color: #999;
    text-decoration: line-through;
  }
  .tack-list .el-checkbox__label {
    padding-left:15px;
  }
  .el-checkbox__inner {
    border-color: #e6e6e6
  }
  .el-checkbox__inner:hover {
    border-color: #e6e6e6
  }

  .task-name-input .el-input__inner,
  .task-name-input .el-input__inner:focus {
    padding: 0;
    border: none;
    box-shadow: none;
  }
  .item-total .animated {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
  }
  .el-select__tags>input[type=text]:focus {
    box-shadow: 0 0 0 0 white inset;
  }
  .label-tag .vue-input-tag-wrapper>.input-tag {
    background: #f7f7f7;
    border: 1px solid #e6e6e6;
    color: #000;
    margin: 3px;
    height: 28px;
    padding: 0 5px;
    border-radius: 4px;
  }
  .label-tag .vue-input-tag-wrapper--active + .tags-list {
    display: block;
  }
  .label-tag .vue-input-tag-wrapper .new-tag {
    margin-bottom: 0px;
  }
  .label-tag .vue-input-tag-wrapper>.input-tag>span {
    display: inline-block;
    height: 26px;
    line-height: 26px;
  }
  .label-tag .vue-input-tag-wrapper>.input-tag>.remove {
    color: #000;
    font-weight: 400;
    position: relative;
    display: inline-block;
    height: 14px;
    width: 14px;

  }
  .label-tag .vue-input-tag-wrapper>.input-tag>.remove::before,
  .label-tag .vue-input-tag-wrapper>.input-tag>.remove::after {
    display:inline-block;
    content: "";
    position: absolute;
    transform: rotate(45deg)
  }
  .label-tag .vue-input-tag-wrapper>.input-tag>.remove::before {
    width: 13px;
    border-top: 1px solid #000;
    left: 1px;
    top: 9px;
  }
  .label-tag .vue-input-tag-wrapper>.input-tag>.remove::after {
    height: 13px;
    border-right: 1px solid #000;
    left: 7px;
    top: 3px;
  }
  .label-tag .vue-input-tag-wrapper .input-tag .remove:hover::after {
    border-right: 1px solid #ff5a5f;
  }
  .label-tag .vue-input-tag-wrapper .input-tag .remove:hover::before {
    border-top: 1px solid #ff5a5f;
  }
  .child-date .el-input__inner {
    border-color: transparent
  }
  .child-date:hover .el-input__inner {
    background: #f7f7f7;
    border-color: transparent
  }
  .el-input.child-date .el-input__inner:focus {
    box-shadow: none;
    background: #f7f7f7;
  }

  .el-input.child-date .el-input__icon {
    height: auto;
    top: 10px;
  }

  .el-textarea__inner:hover .MeetingCenter {
    border: none;
  }

  .el-tooltip__popper.is-dark {
    max-width: 320px;
    background: #4c4c4c
  }
  .el-tooltip__popper[x-placement^=right] .popper__arrow,
  .el-tooltip__popper[x-placement^=right] .popper__arrow::after {
    border-color: transparent;
    border-right-color: #4c4c4c
  }
  .el-tooltip__popper[x-placement^=left] .popper__arrow,
  .el-tooltip__popper[x-placement^=left] .popper__arrow::after {
    border-color: transparent;
    border-left-color: #4c4c4c
  }
  .el-tooltip__popper[x-placement^=top] .popper__arrow,
  .el-tooltip__popper[x-placement^=top] .popper__arrow::after {
    border-color: transparent;
    border-top-color: #4c4c4c
  }
  .el-tooltip__popper[x-placement^=bottom] .popper__arrow,
  .el-tooltip__popper[x-placement^=bottom] .popper__arrow::after {
    border-color: transparent;
    border-bottom-color: #4c4c4c
  }

  .form-footer .el-button + .el-button {
    margin-right: 0;
  }

  .qouteSubmit .el-form-item .el-form-item__label {
    height: 24px;
  }

  .el-loading-spinner .circular {
    width: 100px;
    height: 100px;
    background: url('../images/tools/cloud_drive/status/loading.gif') no-repeat center / cover;
    animation: none
  }
  .el-loading-spinner .path {
    stroke: transparent;
    animation: none
  }
  /* .right-content .content-box .el-loading-mask .el-loading-spinner {
    top: 0;
  } */
  #quote-dialog .el-dialog--large {
    width: 100%;
  }
  .blank20 .right-content .content-box {
    margin-bottom: 0;
  }

  /* 验证码按钮样式 */
  .register-content .el-form--label-top .is-required .el-form-item__content .el-input-group .el-input-group__append:hover {
    background: #e6e6e6;
  }
  .forget-content .el-form--label-top .is-required .el-form-item__content .el-input-group--append .el-input-group__append:hover {
    background: #e6e6e6;
  }
  .order-show .el-upload {
    width: 100px;
    height: 100px;
    margin: 10px 0;
  }

  .order-show .el-upload img {
    width: 100%;
    height: 100%;
  }

  .ordershow-span-color .el-breadcrumb__inner {
    color: #666666;
  }

  .ordershow-span-color .el-breadcrumb__item:last-child .el-breadcrumb__inner {
    color: #222222;
  }
  .font-wei .el-step__title.is-process {
    font-weight: 500;
  }

  .el-pagination .el-icon-arrow-right {
    position: static
  }
  .pagination {
    text-align: center
  }
  .opt-mar .el-button {
    margin: 0;
  }
  .project-menu-sub .el-menu,
  .nav-header .el-menu,
  .menu-header .el-menu {
    background: #fff
  }
  .el-message__group p {
    color: #666
  }
  .radio-class .el-radio__label {
    font-size: 12px;
  }
  .stages-day .el-form-item__error {
    position: relative
  }
  .region .el-col:not(:last-child) {
    padding-right: 10px;
  }
  .disabled-hover .is-disabled, .disabled-hover .is-disabled:focus, .disabled-hover .is-disabled:hover{
    border-color: transparent;
    background-color: transparent;
    color: inherit;
  }
  .forget-content .el-form--label-top .disabled-hover .el-form-item__content .el-input-group--append .el-input-group__append:hover {
    background-color: #f7f7f7;
  }
  .background-style .el-dialog--tiny {
    width: 480px;
  }
  .background-style .el-dialog__footer .dialog-footer .el-button:first-child {
    margin-right: 0;
  }
  .load-index .el-loading-mask {
    z-index: 2020;
  }
  .submit-form .el-dialog__body {
    padding: 0;
  }
  .style-call .el-dialog__header {
    background: #fff;
  }
  .style-call .el-dialog--tiny {
    height: 250px;
    top: 35% !important;
  }
  .common .el-button--small {
    min-width: 120px;
    height: 34px;
  }
  .phone-style .el-dialog--tiny {
    top: 25% !important;
  }
  .power .el-dialog__body {
    height: 135px;
  }
  /* 交易会需求成果列表loading */
  .achieve-load .el-loading-mask {
    background-color: rgba(255,255,255,.05);
  }
  .moblie-lod .el-loading-mask {
    background-color: rgba(255,255,255,.05);
  }
  .hint-text .el-dialog--tiny {
    top: 30% !important;
  }
  .hint-text .el-dialog__header {
    display: none;
  }
  .hint-text .el-icon-close:before {
    content: ''
  }
  .hint-text .el-dialog__body {
    text-align: center;
    height: 100px;
    line-height: 40px;
  }
  .hint-text .el-dialog__body {
    text-align: center;
    height: 100px;
    line-height: 40px;
  }
  .hint-text .el-dialog__footer {
    border-top: 1px solid #e6e6e6;
  }
  .hint-text .el-dialog__footer .dialog-footer .el-button:first-child {
    margin-right: 0;
  }
  .calls .el-dialog__body {
    height: 140px;
  }
  .calls .el-dialog__header {
    display: block;
    background: #fff;
  }
  /* 取消订单button */
  .pay-button .el-button:focus {
    background: #f5f5f5;
    border: 1px solid #e6e6e6;
    color: #999;
  }
  .close-orde .el-dialog__body {
    text-align: center
  }
  .close-orde .el-dialog--tiny {
    top: 30% !important;
  }
  /* 成果详情样式 */
  .patent .el-collapse-item__wrap {
    background-color: #fff
  }
  .patent .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: -5px;
  }
  .patent .el-collapse-item__header {
    font-family: PingFangSC-Regular, "Microsoft Yahei";
    font-size: 16px;
    color: #222222;
  }
  .patent .el-collapse-item__header__arrow {
    float: right;
    position: relative;
    top: 15px;
    right: 10px;
    color: #999;
  }
  .details-form .el-dialog--tiny {
    width: 480px;
  }
  .details-form .el-dialog__body {
    padding: 0px 20px;
  }
  .el-checkbox__input.is-focus .el-checkbox__inner {
    border-color: #e6e6e6;
  }
  .white.el-button--default:active {
    background: #fff;
    border: 1px solid #e6e6e6;
    color: #999;
  }
  .red.el-button--default:active {
    background-color: #ff5a5f;
    border-color: transparent;
    color: #ffffff;
  }
  .prompt-style .el-dialog__header {
    display: none;
  }
  .prompt-style .el-dialog__body {
    padding-top: 18px;
    padding-bottom: 15px;
  }
  .prompt-suc {
    min-width: 160px;
    max-width: 200px;
  }
  .container .margin-left-0.el-menu-item {
    margin-left: 0
  }
  /* 升级后样式 */
  .el-menu--horizontal .el-menu .el-menu-item, .el-menu--horizontal .el-menu .el-menu-item.is-active, .el-menu--horizontal .el-menu .el-submenu__title.is-active {
    height: 50px;
    line-height: 50px;
    color: #666;
  }
  .el-menu--horizontal .el-menu .el-menu-item:hover {
    color: #222;
    background: #fafafa;
  }
  .el-form-item__content .el-input .el-input__inner {
    border: 1px solid #e6e6e6;
  }
  .el-input .el-input__inner:hover {
    border: 1px solid #D2D2D2;
    border-radius: 4px;
  }
  .el-form-item__content .el-input .el-input__inner:focus {
    border: 1px solid #d2d2d2;
    /* box-shadow: inset 1000px 20px 20px #fff; */
  }
  .el-breadcrumb__inner a, .el-breadcrumb__inner.is-link {
    font-weight: normal;
    color: #666;
  }
  .el-breadcrumb__inner a:hover, .el-breadcrumb__inner.is-link:hover {
    color: #222;
    cursor: pointer;
  }
  .el-menu.el-menu--horizontal {
    border-bottom: none
  }
  .el-step__title {
    font-size: 14px;
    display: inline-block;
  }
  .hover-color .el-month-table td .cell:hover {
    color: inherit
  }
  .hover-color .el-month-table td.current:not(.disabled) .cell {
    color: #fff;
  }
  .radio-hover .el-radio__input.is-checked+.el-radio__label {
    color: inherit
  }
  .option-fontwe .el-select-dropdown__item.selected{
    font-weight: normal
  }
  .el-scrollbar__view .el-select-dropdown__item.selected {
    font-weight: normal
  }
  .select-item-box .el-collapse {
    border: 1px solid #ebeef5;
  }
  .content .el-collapse-item__header {
    padding-left: 20px;
  }
  .content .el-icon-arrow-right {
    font-size: 25px;
  }
  .content .el-collapse-item__content {
    padding: 10px 15px;
  }
  .content .el-collapse-item__header.is-active {
    border-bottom-color: #e6e6e6;
  }
  .select-item-box .el-collapse-item__header.is-active {
    border-bottom-color: #e6e6e6;
  }
  .select-item-box .el-collapse-item__header {
    padding-left: 20px;
    font-size: 16px;
  }
  .select-item-box .el-icon-arrow-right {
    font-size: 25px;
  }
  .select-item-box .el-collapse-item__content {
    padding-left: 20px
  }
  .select-item-box .el-rate__icon {
    font-size: 22px
  }
  .content-box .el-form--label-top .el-form-item__label {
    padding: 0;
  }
  .rad-font .el-radio__input.is-checked+.el-radio__label {
    color: inherit;
  }
  .cont-class .el-input-group--append {
    min-width: 160px;
    padding-left: 40px;
  }
  .el-date-table td.current:not(.disabled) span {
    background-color: #ff5a5f;
  }
  .el-date-table td.today span {
    color: #ff5a5f;
  }
  .el-date-table td.available:hover {
    color: inherit
  }
  .option-bord .el-input .el-input__inner:focus {
    border: 1px solid #e6e6e6;
    box-shadow: none;
  }
  .el-radio__input.is-checked+.el-radio__label {
    color: inherit
  }
  .input-item .el-form-item__content .el-input .el-input__inner:focus {
    box-shadow: none;
    border: 1px solid #d2d2d2;
  }
  .el-input .el-input__inner:focus {
    box-shadow: none;
    border: 1px solid #d2d2d2;
  }
  .dig-send-code .el-dialog__header {
    padding: 15px 20px;
  }
  .dig-send-code .el-dialog__body {
    padding: 20px 20px 0 20px;
  }
  .inner-place .el-input__inner {
    line-height: 0;
    padding: 15px;
  }
  .pass-place .el-input__inner {
    line-height: 20px;
    padding: 15px;
  }
  .line-hei-20 .el-input__inner {
    line-height: 20px
  }
  .input-text .el-input__inner {
    line-height: 20px;
    padding: 15px;
  }
  .border-rad-input .el-input__inner:hover {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .border-rad-input .el-input__inner:hover {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
    border-left: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
  }
  .border-rad-input .el-input__inner:focus {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
    border-left: 1px solid #d2d2d2;
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
  }
  .dl-body-center .el-dialog__body{
    text-align: center;
  }
  .nav-header .cursor-def {
    cursor: default;
  }
  .dig-send-code .el-dialog__headerbtn {
    font-size: 20px;
    top: 13px;
  }
  .phone-form-round .el-form-item {
    margin-bottom: 11px;
  }
  .phone-el-pad-bot .el-form-item {
    margin-bottom: 0;
  }
  .header-border .el-progress--circle .el-progress-circle__path {
    stroke: #ff5a5f;
  }
  .header-progress .el-progress__text {
    display: flex;
    flex-direction: column;
  }
  .is-add-tooltop {
    width: 163px;
    height: auto;
    background: rgba(255,255,255,1);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
  }
  .el-tooltip__popper.is-add-tooltop[x-placement^="right"] .popper__arrow::after {
    border-right-color: #fff;
  }
  .el-tooltip__popper[x-placement^=right] .popper__arrow, .el-tooltip__popper[x-placement^=right] .popper__arrow::after {
    border-color: transparent;
    border-right-color: #C8C8C8;
  }
  .el-tooltip__popper.is-add-tooltop[x-placement^="right"] {
    margin-left: 14px;
    margin-top: -6px;
    display: flex;
    align-items: center;
    line-height: 18px;
    font-size: 12px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(51,51,51,1);
  }
  .el-tooltip__popper.is-add-tooltop[x-placement^="left"] .popper__arrow::after {
    border-left-color: #fff;
  }
  .el-tooltip__popper[x-placement^=left] .popper__arrow, .el-tooltip__popper[x-placement^=left] .popper__arrow::after {
    border-color: transparent;
    border-left-color: #C8C8C8;
  }
  .el-tooltip__popper.is-add-tooltop[x-placement^="left"] {
    margin-left: 14px;
    margin-top: -6px;
    display: flex;
    align-items: center;
    line-height: 18px;
    font-size: 12px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(51,51,51,1);
  }
  .sever-icon .el-input:before {
    content: '';
    position: absolute;
    left: 8px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 20px;
    height: 15px;
    background: url('../../assets/images/design_admin/menu@2x.png') no-repeat center / contain;
  }
  .sever-icon .el-input__inner {
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(51,51,51,1);
    line-height: 20px;
    padding: 15px 15px 15px 30px;
  }
  .sever-round .el-input__inner{
    height: 36px;
  }
  .sever-right .el-input__inner {
    padding: 0;
    line-height: 34px;
    padding-left: 10px;
    height: 34px;
    border: none;
    border-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
  }
  .sever-right .el-input__inner:hover {
    border: none;
    border-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
  }
  .sever-right .el-select .el-input.is-focus .el-input__inner {
    border: none;
    border-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
  }
  .sever-right .el-select:hover .el-input__inner {
    border: none;
    border-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
  }
  .sever-right .el-input .el-input__inner:focus {
    border: none;
    border-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
  }
  .sever-right .el-input__icon {
    line-height: 34px;
  }
  .sever-right .el-input__suffix {
    right: 2px;
  }
  .el-table-filter {
    max-height: 50%;
    overflow-x: hidden;
  }
  .el-table-filter__list {
    max-height: 50%;
  }
  .fiex-content .el-loading-spinner {
    top: 40%;
  }
  .sever-right-left .el-input {
    height: 34px;
  }
  .quate-round .el-dialog__header {
    height: 50px;
    padding: 19px;
  }
  .quate-round .el-dialog__headerbtn {
    top: 16px;
    font-size: 19px;
  }
  .quate-round .el-dialog__body {
    max-height: 550px;
    overflow-x: hidden;
    padding: 20px 20px 30px 20px;
  }
  .quate-round .el-dialog__title {
    font-size: 16px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    color: rgba(34,34,34,1);
  }
<<<<<<< HEAD
=======
  .editor-head .el-dialog__header {
    height: 50px;
    padding: 19px;
  }
  .editor-head .el-dialog__headerbtn {
    top: 16px;
    font-size: 19px;
  }
  .editor-head .el-dialog__body {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .editor-head .el-input__inner {
    line-height: 20px;
    padding: 15px;
  }
>>>>>>> origin/ding-bug
  /*推广页*/
  .phone-sever-swipe .el-carousel__container {
    height: 320px;
  }
  .input-phone input {
    height: 50px;
  }

  .input-phone .el-input__inner {
    border-radius: 30px 0px 0 30px;
  }
  .input-phone .el-input-group__append {
    color: #ffffff;
    border-radius: 0px 30px 30px 0;
    background-image: linear-gradient(-133deg, #6983F9 0%, #9D61DB 100%);
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.05);
    cursor: pointer;
  }

  .smsCode-style .el-button.is-disabled {
    border-radius: 0;
    border: none;
    background-color: #eef1f6;
    color: #bfcbd9;
  }

  .design-product-list .el-card {
    border: none;
  }

  .design-product-list .el-card__body {
    padding: 0;
  }

  .form .el-form-item {
    margin-bottom: 0;
  }
  .work-sty .el-input-group__append {
    padding: 0 1px;
  }
  .wap-disabled-btn .el-button.is-disabled {
    color: #bfcbd9;
    cursor: not-allowed;
    background-image: none;
    background-color: #eef1f6;
    border: none;
  }
  .test-select .el-input__inner {
    line-height: 30px;
    height: 30px;
  }
  .test-select .el-input__inner:focus {
    border: 1px solid #e6e6e6;
  }
  .el-switch__label.is-active {
    color: #ff5a5f;
  }
  .send-bt .el-button--default {
    min-width: 80px;
  }
  .bt-chage-ele .el-input__inner {
    padding: 0 10px;
  }
  .bt-chage-ele .el-input-group__append {
    min-width: 100px;
  }
  .call-ele .el-input-group--append {
    padding-left: 0;
  }
  .input-phone .el-input .el-input__inner:hover{
    border-radius: 30px 0 0 30px;
  }
  .el-form-item.is-error .el-input__inner,
  .el-form-item.is-error .el-input__inner:hover,
  .el-form-item.is-error .el-input__inner:focus,
  .el-form-item.is-error .el-textarea__inner,
  .el-form-item.is-error .el-textarea__inner:hover,
  .el-form-item.is-error .el-textarea__inner:focus,
  .el-message-box__input input.invalid,
  .el-message-box__input input.invalid:hover,
  .el-message-box__input input.invalid:focus {
    border-color: #ff5a5f
  }
  .receipt-form .el-dialog__body {
    padding: 0;
  }
  .select-opt2 .el-select .el-input__inner {
    padding-right: 25px;
  }
  .chart-block .el-date-editor .el-range-separator {
    padding: 0 0;
  }
  .chart .el-input--suffix .el-input__inner {
    padding-right: 25px;
    color: #999;
  }
  .el-picker-panel__sidebar .el-picker-panel__shortcut:hover {
    color: #ff5a5f;
  }
  .el-date-table td.start-date span, .el-date-table td.end-date span {
    background-color: #ff5a5f;
  }
  .el-date-table td.in-range div, .el-date-table td.in-range div:hover, .el-date-table.is-week-mode .el-date-table__row.current div, .el-date-table.is-week-mode .el-date-table__row:hover div {
    background-color: #e6e6e6;
    background-color: rgba(255,90,95,0.1);
  }
  .el-range-editor.is-active, .el-range-editor.is-active:hover {
    border-color: #e6e6e6;
  }
  .el-carousel__container {
    height: 260px;
  }
  .search-select .el-input__inner:hover, .search-select .el-input__inner:focus {
    border-right: none;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
  }
  .search-input .el-input__inner:hover {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
  }
  .options-trigger .el-input__inner:focus {
    border: none;
  }
  .options-trigger .el-input--suffix .el-input__inner {
    padding-right: 15px
  }
  .options-trigger .el-input--suffix {
    padding-left:0px;
  }
  .options-trigger .el-icon-arrow-down.is-reverse {
    -webkit-transform: scale(0.90);
    transform: scale(0.90);
  }
  .el-table-filter__list-item.is-active, .el-table-filter__list-item:hover {
    background-color: #f7f7f7;
    color: #666;
  }
@media screen and (max-width: 767px) {
  .el-dialog--large,
  .el-dialog--small,
  .el-dialog--tiny {
    width: 90%
  }

  /* 合同阶段选择按钮 */
  .el-form-item__content .el-radio-group {
    width: 100%;
  }

  .three-serve .el-row--flex.is-align-middle {
    justify-content: center;
  }

}
.el-pager li:hover,
.el-pager li.active {
  color: #ff5a5f
}
.el-form-item.is-success .el-input__inner, .el-form-item.is-success .el-input__inner:focus, .el-form-item.is-success .el-textarea__inner, .el-form-item.is-success .el-textarea__inner:focus {
  border-color: #e6e6e6
}
.admin-menu .el-submenu__title {
  text-align: left
}
.el-select--customer-mini {
  width: 110px;
}
.el-select--customer-mini .el-input__inner {
  height: 30px
}
.el-select--customer-mini .el-input__suffix {
  position: absolute;
  height: 40px;
  right: 5px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.height30-datepicker.el-input__inner {
  height: 30px;
  line-height: 30px;
  width: 235px
}
.height30-datepicker.el-date-editor .el-range__icon,
.height30-datepicker.el-date-editor .el-range-separator,
.height30-datepicker.el-date-editor .el-range__close-icon {
  line-height: 24px;
}