
.fl {
  float: left;
}
.ics-icon {
  background-repeat: no-repeat
}
.fr {
  float: right;
}

.clear {
  clear: both;
}
.block {
  display: block
}
.flex {
  display: flex;
}
.flex-column {
  flex-direction: column
}
.flex1 {
  flex: 1 1 auto
}
.flex0 {
  flex: 0 0 auto
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
.fz-0 {
  font-size: 0
}
.fz-12 {
  font-size: 12px;
}
.fz-14 {
  font-size: 14px;
}
.fz-16 {
  font-size: 16px;
}
.fz-18 {
  font-size: 18px;
}
.fz-20 {
  font-size: 20px;
}
.fz-22 {
  font-size: 22px;
}
.fz-36 {
  font-size: 36px;
}
.tc-2 {
  color: #222
}
.tc-6 {
  color: #666
}
.tc-9 {
  color: #999
}
.tc-f {
  color: #fff
}
.tc-orange {
  color: #FFA64B;
}
.tc-red {
  color: #ff5a5f
}
.tc-green {
  color: #20AD1E
}
.tc-hover-red:hover {
  color: #ff5a5f !important;
}
.tc-blue {
  color: #0989C5
}
.b-e6 {
  border: 1px solid #e6e6e6
}
.bt-e6 {
  border-top: 1px solid #e6e6e6
}
.bb-e6 {
  border-bottom: 1px solid #e6e6e6
}
.bg-f {
  background: #fff
}
.bg-fa {
  background: #fafafa
}
.bg-f7 {
  background: #f7f7f7
}
.br50 {
  border-radius: 50%
}
.is-default {
  color: #65a6ff
}
.is-unclaimed {
  color: #e6e6e6
}
.is-success {
  color: #00AC84
}
.is-exception {
  color: #ff5a5f
}
.line-height {
  line-height: 1px;
}
.line-height16 {
  line-height: 16px;
}
.line-height18 {
  line-height: 18px;
}
.line-height24 {
  line-height: 24px;
}
.line-height20 {
  line-height: 20px;
}
.line-height28 {
  line-height: 28px;
}
.line-height30 {
  line-height: 30px;
}
.line-height32 {
  line-height: 32px;
}
.line-height40 {
  line-height: 40px;
}
.line-height1_5 {
  line-height: 1.5
}
.line-height1_4 {
  line-height: 1.4;
}

.height30 {
  height: 30px;
}
.border-t10 {
  border: 10px solid transparent;
}
.main .border-b-no {
  border-bottom: none;
}
.no-select {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.protrude {
  font-family: PingFangSC-Medium
}
.fw-normal {
  font-family: PingFangSC-Light
}
.margin0 {
  margin: 0
}
.margin-t-10 {
  margin-top: 10px;
}
.margin-r-10 {
  margin-right: 10px;
}
.margin-r-15 {
  margin-right: 15px!important;
}
.margin-r-20 {
  margin-right: 20px;
}
.padding10 {
  padding: 10px
}
.padding15 {
  padding: 15px
}
.padding20 {
  padding: 20px
}
.padding26 {
  padding-bottom: 26px;
}
.padding-b15 {
  padding-bottom: 15px;
}
.margin-b-10 {
  margin-bottom: 10px
}
.margin-b-20 {
  margin-bottom: 20px
}
.blank5 {
  padding-top: 5px;
}
.blank10 {
  padding-top: 10px;
}
.blank13 {
  padding-top: 13px;
}

.blank20 {
  padding-top: 20px;
}

.blank30 {
  padding-top: 30px;
}

.blank40 {
  padding-top: 40px;
}

.blank50 {
  padding-top: 50px;
}

.blank60 {
  padding-top: 60px;
}
.text-center {
  text-align: center
}
.va-bottom {
  vertical-align: bottom
}
.fw-4 {
  font-weight: 400;
}

.fw-5 {
  font-weight: 500;
}

.fw-6 {
  font-weight: 600;
}
.full-height {
  height: 100%;
}
.full-width {
  width: 100%;
}
.helf-width {
  width: 50%;
}
.pointer {
  cursor: pointer;
}
.text-overflow {
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* 发布需求 */
.project-cover {
  position: relative;
  padding-bottom: 100px;
  /* height: inherit; */
  min-height: 100%;
  color: #fff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-cover::after {
  content:"";
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: url(../images/project/CreateBackground.jpg) no-repeat center / cover;
}
.project-item-box {
  padding: 30px 30px 0;
  max-width: 1240px;
  flex: 1 1 auto;
  /* margin: 0 auto; */
}
.project-foot {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: rgba(0, 0, 0, 0.4)
}
.project-foot .buttons {
  max-width: 1240px;
  margin: 0 auto;
  padding: 33px 30px;
}
.project-foot .buttons a {
  opacity: 0.5;
  font-family: PingFangSC-Thin, "Microsoft Yahei";
  font-size: 16px;
  line-height: 34px;
  color: #FFFFFF;
  position: absolute;
  padding-left: 20px;
}
.project-foot .buttons a:hover {
  opacity: 1;
}
.project-foot .buttons a::before {
  content: '';
  position: absolute;
  left: 0;
  top: 12px;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  border: 1px solid #fff;
  border-top: none;
  border-right: none;
}
/* el-form */
.fullwidth .el-form-item__content {
  display: flex;
  flex-wrap: wrap;
}
/* 基本按钮 button >>>>>>>*/
.el-button,
.el-button--primary,
.el-button--default {
  margin: 0;
  padding: 0;
  height: 34px;
}
.el-button:hover {
  color: #fff;
}
.el-button,
.large-button,
.middle-button,
.small-button,
.el-button--mini,
.el-button--small,
.el-button--primary,
.el-button--default,
.el-button--large {
  font-family: PingFangSC-Light, "Microsoft Yahei";
  padding: 0;
  margin: 0;
  font-size: 14px;
  transition: 268ms all ease;
}

.el-button,
.middle-button,
.el-button--primary,
.el-button--default {
  cursor: pointer;
  min-width: 120px;
  height: 34px;
  line-height: 32px;
}
.small-button,
.el-button--small {
  cursor: pointer;
  min-width: 100px;
  height: 30px;
  line-height: 28px;
  font-size: 12px;
}
.mini-button,
.el-button--mini {
  font-size: 12px;
  cursor: pointer;
  min-width: 80px;
  height: 30px;
  line-height: 28px;
}
.el-button--mini,
.el-button--small {
  font-size: 12px;
}
.large-button {
  cursor: pointer;
  width: 100%;
  height: 34px;
  line-height: 32px;
}
.big-button,
.el-button--large {
  cursor: pointer;
  min-width: 120px;
  height: 40px;
  line-height: 38px;
}
.full-button {
  width: 100%;
}
.white-button,
.el-button--default {
  background: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  color: #999;
}
.el-button:focus,
.white-button:hover,
.el-button--default:hover{
  background: #f5f5f5;
  border: 1px solid #e6e6e6;
  color: #999;
}
.white-button:active,
/* .el-button--default:focus, */
.el-button--default:active {
  background: #ccc;
  border: 1px solid #ccc;
  color: #fff;
}
.white-to-red-button {
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #D2D2D2;
  background: #fff;
  color: #666;
}
.white-to-red-button:hover {
  border: 1px solid #ff5a5f;
  background: #ff5a5f;
  color: #fff;
}
.white-to-red-button:active {
  border: 1px solid #D23C46;
  background: #D23C46;
  color: #fff;
}
.red-button {
  background: #fff;
  border: 1px solid #ff5a5f;
  border-radius: 4px;
  color: #ff5a5f;
}
.red-button a {
  color: #ff5a5f;
}
.red-button:hover,
.red-button:hover a,
.red-button:focus,
.red-button:focus a {
  background-color: #ffacaf;
  color: #fff;
}
.red-button:active,
.red-button:active a {
  background-color: #ff5a5f;
  color: #fff;
}
.full-red-button,
.el-button--primary,
.el-button--primary:focus,
.el-button--danger {
  background: #ff5a5f;
  border: 1px solid #ff5a5f;
  border-radius: 4px;
  color: #fff;
}
.full-red-button:hover,
.el-button--primary:hover,
.el-button--danger:hover {
  color: #fff;
  border-color: #D23C46;
  background-color: #D23C46;
}
.full-red-button:active,
.el-button--primary:active,
.el-button--danger:active,
.full-red-button:focus,
.el-button--primary:focus,
.el-button--danger:focus {
  color: #fff;
  border-color: #ff5a5f;
  background-color: #ff5a5f;
}

.el-button--primary.is-disabled,
.el-button--primary.is-disabled:active, .el-button--primary.is-disabled:focus, .el-button--primary.is-disabled:hover,
.disabled-button,
.disabled-button:hover,
.disabled-button:active,
.disabled-button:focus {
  font-size: 14px;
  cursor: not-allowed;
  background: #d2d2d2;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
}
.el-button--primary.el-button--small.is-disabled {
  font-size: 12px;
}
/* 改了边框和字体大小 */
.el-input.is-disabled .el-input__inner {
  background: #fafafa;
  color: #c8c8c8;
}
button.el-button.is-custom.is-disabled,
.disabled-button-light,
.disabled-button-light:hover,
.disabled-button-light:active {
  font-size: 14px;
  cursor: not-allowed;
  background: #fafafa;
  color: #c8c8c8;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}
/* 基本按钮 button  <<<<<<<*/

/* vcenter */

.vcenter-right {
  padding-left: 60px;
  transition: all 268ms ease;
}
.vcenter-right-mob {
  padding-left: 0
}
.fx-icon-nothing-close-error:hover {
  color: #ff5a5f!important
}

/* border-radius */
.border_radius {
  border-radius: 4px
}
.left-border_radius {
  border-radius: 4px 0 0 4px
}
.right-border_radius {
  border-radius: 0 4px 4px 0
}
.top-border_radius {
  border-radius: 4px 4px 0 0
}
.bottom-border_radius {
  border-radius: 0 0 4px 4px
}
.no-border_radius {
  border-radius: 0;
}
/* 选项框 */
.option-menu {
  display: flex;
}
.option-item {
  width: 60px;
  height: 30px;
  background: #fff;
  border: 1px solid #e6e6e6;
  margin-left: -1px;
  line-height: 30px;
  text-align: center;
  color: #666;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.option-item80 {
  width: 80px
}
.option-item:hover, .option-item.active {
  background: #ff5a5f;
  color: #fff
}
@media screen and (min-width: 1200px) {
  .vcenter-right-plus {
    padding-left: 200px;
    transition: all 268ms ease;
  }
  .vcenter-right-mob {
    padding-left: 0
  }
}
@media screen and (max-width: 1199px) {
  .vcenter-right-plus {
    padding-left: 16.667%
  }
  .vcenter-right-mob {
    padding-left: 0
  }
}
@media screen and (max-width: 767px) {
  .vcenter {
    margin: 0;
    padding-top: 0
  }
}
