.fl {
  float: left
}
.ics-icon {
  background-repeat: no-repeat
}
.fr {
  float: right
}
.clear {
  clear: both
}
.block {
  display: block
}
.disabled {
  cursor: not-allowed
}
.flex {
  display: flex
}
.flex0 {
  flex: 0 0 auto
}
.flex1 {
  flex: 1 1 auto
}
.flex10 {
  flex: 1 0 auto
}
.flex11 {
  flex: 1 1 auto
}
.flex-vertical-center {
  display: flex;
  align-items: center
}
.flex-justify-center {
  display: flex;
  justify-content: center
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center
}
.flex-column {
  display: flex;
  flex-direction: column
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap
}
.clearfix::after {
  content: '';
  display: block;
  clear: both
}
.fz-0 {
  font-size: 0
}
.fz-12 {
  font-size: 12px
}
.fz-14 {
  font-size: 14px
}
.fz-16 {
  font-size: 16px
}
.fz-18 {
  font-size: 18px
}
.fz-20 {
  font-size: 20px
}
.fz-22 {
  font-size: 22px
}
.fz-24 {
  font-size: 24px
}
.fz-28 {
  font-size: 28px
}
.fz-36 {
  font-size: 36px
}
.tc-2 {
  color: #222
}
.tc-6 {
  color: #666
}
.tc-9 {
  color: #999
}
.tc-f {
  color: #fff
}
.tc-orange {
  color: #ffa64b
}
.tc-red {
  color: #ff5a5f
}
.tc-green {
  color: #20ad1e
}
.tc-hover-red:hover {
  color: #ff5a5f !important
}
.tc-blue {
  color: #0989c5
}
.border-r-none {
  border-right: none
}
.border-e6 {
  border: 1px solid #e6e6e6
}
.border-t-e6 {
  border-top: 1px solid #e6e6e6
}
.border-b-e6 {
  border-bottom: 1px solid #e6e6e6
}
.border-l-e6 {
  border-left: 1px solid #e6e6e6
}
.border-r-e6 {
  border-right: 1px solid #e6e6e6
}
.border-t10 {
  border: 10px solid transparent
}
.main .border-b-no {
  border-bottom: none
}
.bg-f {
  background: #fff
}
.bg-fa {
  background: #fafafa
}
.bg-f7 {
  background: #f7f7f7
}
.bg-f7-hover:hover {
  background: #f7f7f7
}
.bg-red {
  background: #ff5a5f
}
.br50 {
  border-radius: 50%
}
.is-default {
  color: #65a6ff
}
.is-unclaimed {
  color: #e6e6e6
}
.is-success {
  color: #00ac84
}
.is-exception {
  color: #ff5a5f
}
.line-height {
  line-height: 1px
}
.line-height16 {
  line-height: 16px
}
.line-height18 {
  line-height: 18px
}
.line-height20 {
  line-height: 20px
}
.line-height24 {
  line-height: 24px
}
.line-height28 {
  line-height: 28px
}
.line-height30 {
  line-height: 30px
}
.line-height32 {
  line-height: 32px
}
.line-height40 {
  line-height: 40px
}
.line-height50 {
  line-height: 50px
}
.no-select {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none
}
.protrude {
  font-family: PingFangSC-Medium
}
.fw-normal {
  font-family: PingFangSC-Light
}
.margin0 {
  margin: 0
}
.margin-l-0 {
  margin-left: 0 !important
}
.margin-r-0 {
  margin-right: 0 !important
}
.margin-r-5 {
  margin-right: 5px
}
.margin-lr-5 {
  margin-left: 5px;
  margin-right: 5px
}
.margin-t-10 {
  margin-top: 10px
}
.margin-b-10 {
  margin-bottom: 10px
}
.margin-l-10 {
  margin-left: 10px
}
.margin-r-10 {
  margin-right: 10px
}
.margin-t-15 {
  margin-top: 15px
}
.margin-b-15 {
  margin-bottom: 15px
}
.margin-r-15 {
  margin-right: 15px !important
}
.margin-t-20 {
  margin-top: 20px
}
.margin-b-20 {
  margin-bottom: 20px
}
.margin-r-20 {
  margin-right: 20px
}
.margin-t-30 {
  margin-top: 30px
}
.margin-b-30 {
  margin-bottom: 30px
}
.margin-t-36 {
  margin-top: 36px
}
.margin-b-m50 {
  margin-bottom: -50px
}
.margin-l-20 {
  margin-left: 20px
}
.padding10 {
  padding: 10px
}
.padding15 {
  padding: 15px
}
.padding20 {
  padding: 20px
}
.padding30 {
  padding: 30px
}
.padding-b-10 {
  padding-bottom: 10px
}
.padding-b-15 {
  padding-bottom: 15px
}
.padding-b-20 {
  padding-bottom: 20px
}
.padding-r-30 {
  padding-right: 30px
}
.padding-b-30 {
  padding-bottom: 30px
}
.padding-b-40 {
  padding-bottom: 40px
}
.padding-b-50 {
  padding-bottom: 50px
}
.padding-b-60 {
  padding-bottom: 60px
}
.padding-b-80 {
  padding-bottom: 80px
}
.blank5 {
  padding-top: 5px
}
.blank10 {
  padding-top: 10px
}
.blank15 {
  padding-top: 15px
}
.blank20 {
  padding-top: 20px
}
.blank30 {
  padding-top: 30px
}
.blank40 {
  padding-top: 40px
}
.blank50 {
  padding-top: 50px
}
.blank60 {
  padding-top: 60px
}
.blank90 {
  padding-top: 90px
}
.break-all {
  word-break: break-all
}
.white-nowarp {
  white-space: nowrap
}
.over-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}
.text-overflow {
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  display: inline-block
}
.text-center {
  text-align: center
}
.text-left {
  text-align: left
}
.text-right {
  text-align: right
}
.va-bottom {
  vertical-align: bottom
}
.va-middle {
  vertical-align: middle
}
.fw-4 {
  font-weight: 400
}
.fw-5 {
  font-weight: 500
}
.fw-6 {
  font-weight: 600
}
.full-height {
  height: 100%
}
.full-width {
  width: 100%
}
.helf-width {
  width: 50%
}
.pointer {
  cursor: pointer
}
.fullwidth .el-form-item__content {
  display: flex;
  flex-wrap: wrap
}
.el-button,
.el-button--default,
.el-button--primary {
  margin: 0;
  padding: 0;
  height: 34px
}
.el-button:hover {
  color: #fff
}
.el-button,
.el-button--default,
.el-button--large,
.el-button--mini,
.el-button--primary,
.el-button--small,
.large-button,
.middle-button,
.small-button {
  cursor: pointer;
  font-family: PingFangSC-Light, Helvetica Neue, HelveticaNeue, Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  font-size: 14px;
  border-radius: 4px;
  transition: all .2s ease
}
.el-button,
.el-button--default,
.el-button--primary,
.middle-button {
  cursor: pointer;
  min-width: 120px;
  height: 34px;
  line-height: 32px
}
.el-button--small,
.small-button {
  cursor: pointer;
  min-width: 100px;
  height: 30px;
  line-height: 28px;
  font-size: 12px
}
.el-button--mini,
.mini-button {
  font-size: 12px;
  cursor: pointer;
  min-width: 80px;
  height: 30px;
  line-height: 28px
}
.el-button--mini,
.el-button--small {
  font-size: 12px
}
.large-button {
  cursor: pointer;
  width: 100%;
  height: 34px;
  line-height: 32px
}
.big-button,
.el-button--large {
  cursor: pointer;
  min-width: 120px;
  height: 40px;
  line-height: 38px
}
.full-button {
  width: 100%
}
.el-button--default,
.white-button {
  background: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  color: #999
}
.el-button--default:hover,
.el-button:focus,
.white-button:hover {
  background: #f5f5f5;
  border: 1px solid #e6e6e6;
  color: #999
}
.el-button--default:active,
.white-button:active {
  background: #ccc;
  border: 1px solid #ccc;
  color: #fff
}
.white-to-red-button {
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #d2d2d2;
  background: #fff;
  color: #666
}
.white-to-red-button:hover {
  border: 1px solid #ff5a5f;
  background: #ff5a5f;
  color: #fff
}
.white-to-red-button:active {
  border: 1px solid #d23c46;
  background: #d23c46;
  color: #fff
}
.red-button {
  background: #fff;
  border: 1px solid #ff5a5f;
  border-radius: 4px;
  color: #ff5a5f
}
.red-button a {
  color: #ff5a5f
}
.red-button:focus,
.red-button:focus a,
.red-button:hover,
.red-button:hover a {
  background-color: #ffacaf;
  border-color: #ff5a5f;
  color: #fff
}
.red-button:active,
.red-button:active a {
  background-color: #ff5a5f;
  border-color: #ff5a5f;
  color: #fff
}
.el-button--danger,
.el-button--primary,
.el-button--primary:focus,
.full-red-button {
  background: #ff5a5f;
  border: 1px solid #ff5a5f;
  border-radius: 4px;
  color: #fff
}
.el-button--danger:hover,
.el-button--primary:hover,
.full-red-button:hover {
  color: #fff;
  border-color: #d23c46;
  background-color: #d23c46
}
.el-button--danger:active,
.el-button--danger:focus,
.el-button--primary:active,
.el-button--primary:focus,
.full-red-button:active,
.full-red-button:focus {
  color: #fff;
  border-color: #ff5a5f;
  background-color: #ff5a5f
}
.disabled-button,
.disabled-button:active,
.disabled-button:focus,
.disabled-button:hover,
.el-button--primary.is-disabled,
.el-button--primary.is-disabled:active,
.el-button--primary.is-disabled:focus,
.el-button--primary.is-disabled:hover {
  font-size: 14px;
  cursor: not-allowed;
  background: #d2d2d2;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 4px
}
.el-button--primary.el-button--small.is-disabled {
  font-size: 12px
}
.el-input.is-disabled .el-input__inner {
  background: #fafafa;
  color: #c8c8c8
}
.disabled-button-light,
.disabled-button-light:active,
.disabled-button-light:hover,
button.el-button.is-custom.is-disabled {
  font-size: 14px;
  cursor: not-allowed;
  background: #fafafa;
  color: #c8c8c8;
  border: 1px solid #e6e6e6;
  border-radius: 4px
}
.vcenter-right {
  padding-left: 60px;
  transition: all 268ms ease
}
.vcenter-right-mob {
  padding-left: 0
}
.fx-icon-nothing-close-error:hover {
  color: #ff5a5f !important
}
.border_radius {
  border-radius: 4px
}
.left-border_radius {
  border-radius: 4px 0 0 4px
}
.right-border_radius {
  border-radius: 0 4px 4px 0
}
.top-border_radius {
  border-radius: 4px 4px 0 0
}
.bottom-border_radius {
  border-radius: 0 0 4px 4px
}
.no-border_radius {
  border-radius: 0
}
.option-menu {
  display: flex
}
.option-item {
  width: 60px;
  height: 30px;
  background: #fff;
  border: 1px solid #e6e6e6;
  margin-left: -1px;
  line-height: 30px;
  text-align: center;
  color: #666;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer
}
.option-item80 {
  width: 80px
}
.option-item.active,
.option-item:hover {
  background: #ff5a5f;
  color: #fff
}

@media screen and (min-width:1200px) {
  .vcenter-right-plus {
    padding-left: 200px;
    transition: all 268ms ease
  }

  .vcenter-right-mob {
    padding-left: 0
  }
}

@media screen and (max-width:1199px) {
  .vcenter-right-plus {
    padding-left: 16.667%
  }

  .vcenter-right-mob {
    padding-left: 0
  }
}

@media screen and (max-width:767px) {
  .vcenter {
    margin: 0;
    padding-top: 0
  }
}
.el-dialog-confirm {
  text-align: center
}
.el-dialog-confirm p {
  line-height: 40px;
  height: 40px;
  font-size: 14px;
  margin-bottom: 20px;
  color: #666
}
.el-dialog-confirm .buttons {
  font-size: 0
}
.el-dialog-confirm .cancel {
  margin-right: 15px
}
.icon-close {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 16px;
  height: 16px;
  background: #ff5a5f;
  border-radius: 50%
}
.icon-close::after,
.icon-close::before {
  content: '';
  width: 10px;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: rotate(45deg)
}
.icon-close::after {
  transform: rotate(-45deg)
}
.border-l-none,
.el-form-item__content .border-l-none .el-input .el-input__inner,
.el-form-item__content .border-l-none .el-input.is-focus .el-input__inner {
  border-left: none
}
